<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyt.testbinder">

    <permission
        android:name="com.cyt.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testBinderPool.activity.BinderPoolActivity"></activity>

        <service
            android:name=".testBinderPool.BinderPoolService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".testSocket.TCPServerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".testProvider.activity.ProviderActivity" />
        <activity android:name=".testAIDL.activity.BookManagerActivity" />
        <activity android:name=".testMessenger.activity.MessengerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testBundle.activity.FirstActivity" />
        <activity android:name=".testBundle.activity.SecondActivity" />

        <provider
            android:name=".testProvider.BookProvider"
            android:authorities="com.cyt.authority.provider"
            android:permission="com.cyt.permission.provider"
            android:process=":provider" />

        <service
            android:name=".testAIDL.BookManagerService"
            android:process=":remote" />
        <service
            android:name=".testMessenger.MessengerService"
            android:process=":remote" />
    </application>

</manifest>