<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.shui.movieguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieGuide">
        <activity android:name=".activity.MovieListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MovieGuide.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MovieDetailActivity"
            android:label="@string/title_movie_detail"
            android:parentActivityName=".activity.MovieListActivity"
            android:theme="@style/Theme.MovieGuide.NoActionBar">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MovieListActivity" />

        </activity>
        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MovieGuide.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activity.ItemListActivity"
            android:theme="@style/Theme.MovieGuide.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.shui.movieguide.activity.ItemListActivity" />
        </activity>
    </application>

</manifest>